[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = {version = "*"}

[packages]
tensorflow = "*"
absl-py = ">=0.6.1,<0.7.0"
pytest = ">="
mecab-python3 = "*"
beautifulsoup4 = "*"
requests-oauthlib = "*"

[requires]
python_version = "3.6"
